.leaflet-popup-content-wrapper {
    width: 500px;
}

.leaflet-popup-content {
    width: 470px !important;
}
.leaflet-popup-content-wrapper {
    height: 800px;
}

.leaflet-popup-content {
    height: 770px !important;
}
