.leaflet-popup-content-wrapper {
    width: 450px;
}

.leaflet-popup-content {
    width: 420px !important;
}
.leaflet-popup-content-wrapper {
    height: 800px;
}

.leaflet-popup-content {
    height: 770px !important;
}
