.leaflet-popup-content-wrapper {
    width: 450px;
}

.leaflet-popup-content {
    width: 420px !important;
}
.leaflet-popup-content-wrapper {
    height: 600px;
}

.leaflet-popup-content {
    height: 570px !important;
}
